<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item"><i class="code icon"></i> Blog Site</div>
        <a class="item" href="/">Home</a>
        <a class="item" href="/blogs/new">New Post</a>
      </div>
    </div>
    <div class="ui main text container">
      <div class="ui huge header">RESTful Blog App</div>
      <div class="ui top attached segment">
        <div class="ui divided items">
          <% blogs.forEach(function(blog){ %>
          <div class="item">
            <div class="image">
              <img src="<%= blog.image %>" />
            </div>
            <div class="content">
              <a class="header" href="/blogs/<%= blog._id %>"
                ><%=blog.title%></a
              >
              <div class="meta">
                <span><%= blog.created.toDateString() %></span>
              </div>
              <div class="description">
                <p><%- blog.body.substring(0, 100) %>...</p>
              </div>
              <div class="extra">
                <a
                  class="ui floated basic violet button"
                  href="/blogs/<%= blog._id %>"
                >
                  Read More
                  <i class="right chevron icon"></i>
                </a>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
